@model RegistreView
@{
    ViewData["Title"] = "Register";
}
@using (Html.BeginForm())
{
    <div class="ui raised very padded text container">
        <h2 class="ui header centered">Registrer</h2>

        <div class="ui stacked segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    @Html.EditorFor(m => m.UserName)
                </div>

            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    @Html.EditorFor(m => m.Password)
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    @Html.EditorFor(m => m.ConfirmPassword)
                </div>
            </div>
            <input type="submit" class="ui large green submit button" name="Done" value="Register" />
            @*<input type="submit" name="submit" value="submit" />*@
            <div asp-validation-summury="All" class="ui error message"></div>
        </div>

    </div>
}

@*<form asp-controller="Home" asp-action="Register" method="POST">
        Email:  <input asp-for="UserName" /> <br />
        Password: <input asp-for="Password" /><br />
        Confirm Password: <input asp-for="ConfirmPassword" /><br />
        <button type="submit">Register</button>
    </form>*@
@*@using (Html.BeginForm())
    {
            @Html.TextBoxFor(m => m.UserName);
            @Html.TextBoxFor(m => m.Password);
            @Html.TextBoxFor(m => m.ConfirmPassword);
            <input type="submit"/>

    }*@
